@import url("styles/hearder.css");
@import url("styles/banner.css");
@import url("styles/corrossel.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #ffffff;
    --laranja: #EB9B00;
    --azul-degrad: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "poppins";

}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.container__botao {
    display: none;
}
